<% @page_title = "舞台詳細" %>
<h1><%= @page_title %></h1>

<h1>ACTOR</h1>
<% if @stage.present? %>
  <%=render"shared/table_show",stage:@stage %>
<!--        <td><%#= "#{@count}人" %></td>-->
<!--        </tr>-->
        </tbody>
        </tbody>
        </table>
      <% end %>
