<% @page_title = "公演者一覧" %>
<h1><%= @page_title %></h1>

<% if @actors.present? %>
  <ol class="sample1">
    <% @actors.each do |actor| %>
      <div class="border">
      <li><%= link_to actor.name, admin_actor_stages_path(actor.id) %></li>
      </div>

    <% end %>
  </ol>
  <%= paginate @actors %>
<% else %>
  <P>公演者がない</P>
<% end %>