<% @page_title = "公演者一覧" %>
<h1><%= @page_title %></h1>

<% if @actors.present? %>
  <% @actors.each do |actor|%>
    <p><%=link_to actor.name, actor_true_stages_actor_stages_path(actor.id)%></p>
    <%end %>
  <%else %>
<P>公演者がない</P>
<% end %>