<% @page_title = "公演団体の新規登録" %>
<h1><%= @page_title %></h1>

<div class="register-method">
  <h3>新規登録規則</h3>
  <ul>
    <li>全部必須入力です</li>
    <li>名前は２文字以上２０文字以内で同じ名前がすでにある場合は登録できません</li>
    <li>ログインID、パスワードは４文字以上１６文字以内で半角英数字のみです</li>
    <li>もうすでに登録されているログインIDがは登録できません</li>
  </ul>
</div>
<%= form_for @actor do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit class: "btn btn--orange btn--cubic btn--shadow" %></div>
<% end %>
<!--<script>-->
<!--    var methods = {-->
<!--        hankaku: function (value, element) { // メールアドレスの正規表現-->
<!--            return this.optional(element) || /^[A-Za-z0-9]*$/i.test(value);-->
<!--        },-->
<!--        password: function (value, element) { // パスワードの正規表現-->
<!--            return this.optional(element) || /^(?=.*?[a-z])(?=.*?\d)[a-z\d]{8,100}$/i.test(value);-->
<!--        },-->
<!--        date: function (value, element) { // パスワードの正規表現-->
<!--            return this.optional(element) ||new Date() == value;-->
<!--        },-->
<!--    }-->
<!--    // メソッドの追加-->
<!--    $.each(methods, function (key) {-->
<!--        $.validator.addMethod(key, this);-->
<!--    });-->
<!--    $("#new_actor").validate({-->
<!--        // ルール設定-->
<!--        rules: {-->
<!--            "actor[name]": {-->
<!--                required: true, // ニックネームの入力有無チェック-->
<!--                maxlength: 20,-->
<!--                minlength: 2,-->
<!--            },-->
<!--            "actor[login_name]": {-->
<!--                required: true, // ニックネームの入力有無チェック-->
<!--                hankaku:true,-->
<!--                maxlength: 16,-->
<!--                minlength: 4,-->
<!--            },-->
<!--            "actor[password]": {-->
<!--                required: true, // ニックネームの入力有無チェック-->
<!--                hankaku:true,-->
<!--                maxlength: 16,-->
<!--                minlength: 4-->
<!--            }-->
<!--        },-->
<!--        // エラーメッセージの定義-->
<!--        messages: {-->
<!--            "actor[name]": {-->
<!--                required: "氏名を入力してください",-->
<!--                maxlength: "10文字以内で入力してください",-->
<!--                minlength: "２文字以上で入力してください"-->
<!--            },-->
<!--            "actor[login_name]": {-->
<!--                required: "ログインIDを入力してください",-->
<!--                maxlength: "16文字以内で入力してください",-->
<!--                minlength: "4文字以上で入力してください",-->
<!--                hankaku:"半角英数字で入力してください"-->
<!--            },-->
<!--            "actor[password]": {-->
<!--                required: "パスワードを入力してください",-->
<!--                maxlength: "16文字以内で入力してください",-->
<!--                minlength: "4文字以上で入力してください",-->
<!--                hankaku:"半角英数字で入力してください"-->
<!--            },-->
<!--        },-->
<!--        errorClass: "invalid", // バリデーションNGの場合に追加するクラス名の指定-->
<!--        errorElement: "p", // エラーメッセージの要素種類の指定-->
<!--        validClass: "valid", // バリデーションOKの場合に追加するクラス名の指定-->
<!--    }).cancelSubmit = true;-->

<!--    // 入力欄をフォーカスアウトしたときにバリデーションを実行-->
<!--    $("#actor_name,#actor_login_name,#actor_password").keyup(function () {-->
<!--        $(this).valid()-->

<!--    });-->
<!--    $("#actor_name,#actor_login_name,#ctor_password").blur(function () {-->
<!--        $(this).valid()-->

<!--    });-->

<!--</script>-->
