<%#= render "shared/errors", obj: @member %>

<table class="new-table">
  <tr>
    <th>アカウント種類</th>
    <td>管理者</td>
  </tr>
  <tr>
    <th><%= form.label :ID %></th>
    <td><%= form.text_field :login_name, size: 8 %></td>
  </tr>
  <% if @admin.new_record? %>
    <tr>
      <th><%= form.label :password %></th>
      <td><%= form.text_field :password %></td>
    </tr>
  <% end %>
</table>
