<div class="header-content">
  <div class="header-title">
  <%= image_tag "logo.svg", size: "90x100", alt: "TeS", class: "head-imag" %>
  <h1 class="header-center">Stage e-Ticket</h1>
  </div>
  <div class="navigation">
  <%= render "shared/menubar" %>
  </div>
</div>
