<nav class="menubar">
  <ul class="main-nav">
    <%= menu_link_to "TOP", :root %>
    <%= menu_link_to "ユーザーログイン・新規登録", user_path(1) %>
    <%= menu_link_to "公演者ログイン・新規登録", actor_path(1) %>
    <%= menu_link_to "管理者ログイン", admin_path %>
  </ul>
</nav>
