<%#= render "shared/login_form"  unless current_member%>

<h2>ログインはこちら</h2>
<ul>
  <%= menu_link_to "ユーザーログイン", "#" %>
  <%= menu_link_to "公演者ログイン", "#" %>
  <%= menu_link_to "管理者ログイン", "#" %>
</ul>


<h2>会員のブログ</h2>

</ul>

