<% @page_title = "ログインしてください" %>
<h3 class="login-h"><%= @page_title %></h3>
<%= link_to "新規会員登録はこちら", :new_actor %>
<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>
<%= form_tag :actorsessions, id: "login-form" do %>
  <form id="login-form">
    <div>
      <input type="text" name="ID" placeholder="Login ID">
    </div>
    <div>
      <input type="password" name ="password" placeholder="password">
    </div>
    <div>
      <input class="new-btn" type="submit" value="ログイン" >
    </div>
  </form>
<% end %>
