<% @page_title = "ログインが必要です" %>
<h3 class="login-h"><%= @page_title %></h3>
<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>
<%= form_tag :adminsessions, id: "login-form" do %>
  <form id="login-form">
  <div>
    <input type="text" name="ID" placeholder="Login ID">
  </div>
  <div>
    <input type="password" name ="password" placeholder="password">
  </div>
  <div>
    <input class="new-btn" type="submit" value="ログイン" >
  </div>
</form>
<% end %>