<% @page_title = "ログインが必要です" %>
<h1><%= @page_title %></h1>
<%= link_to "新規会員登録はこちら", "#" %>
<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>
<%= form_tag :adminsessions, id: "login-form" do %>
  <form id="login-form">
    <div>
      <label>ID：</label>
      <input type="text" name="ID">
    </div>
    <div>
      <label>パスワード：</label>
      <input type="password" name ="password">
    </div>
    <div>
      <input type="submit" value="ログイン">
    </div>
  </form>
<% end %>