<% @page_title = "舞台詳細" %>
<h1><%= @page_title %></h1>
<%= render "shared/table_show", stage: @stage if @stage.present? %>
<% if @stage.date >= Date.current %>
  <%= button_to "舞台の編集をおこなう", [:edit, @stage], {method: "get" ,class:"edit-stage"} %>
<% end %>