ol.sample1{
    counter-reset:list;
    list-style-type:none;
   width:  80%;
    margin:  0 auto;
    padding: 0px;
}
.border{
    border: solid 2px #F6A38B;
    background-color: #f7e9e4;
    padding:  10px;
    margin: 20px 10px
}

ol.sample1 li{
    position:relative;
    line-height: 30px;
    margin: 7px 0 7px 40px;
    padding-left: 10px;
    font-weight: bold;
    font-size:20px;
}

ol.sample1 li:before{
    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: -35px;
    width: 30px;
    height: 30px;
    background: #F6A38B;
    text-align: center;
    color: #fff;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
