

/* 左の枠（コンテンツを入れる） */
main {
    width: 70%;
    padding: 10px 10px 10px 0;
}

/* メインコンテンツ */

main h1 {
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 1rem 2rem;
    border: 4px solid black;
    width: 70%;
    font-size: 30px;
}
main h1:before{
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    content: '';
    border: 2px solid #000;

}

main h2 {
    color: #99d;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ccf;
}

main p {
    font-size: 90%;
    line-height: 1.5;
}

ul.toolbar,
div.toolbar {
    padding: 15px 0;
    font-size: 90%;
    text-align: right;
}

ul.toolbar li:not(:last-child):after {
    color: #888;
    content: " | ";
    margin: 0 2px;
}