
.show-table {
    font-family: "Hiragino Kaku Gothic Pro";
table-layout: fixed;
    width: 800px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
}
.show-table th {
    padding: 10px;
    background: #f6e9fa;
    border: solid 1px #778ca3;
    text-align: center;
}
.show-table td {
    width: 600px;
    padding: 10px;
    border: solid 1px #778ca3;
}
.seat-actor{
    width:  80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.true, .false{
    width: 60px;
    height: 70px;
    border: solid 2px black;
}
.false{
    background-color: red;
}

.edit-stage {
    width:  70%;
    display: inline-block;
    border-radius: 25px; /* 角丸       */
    font-size: 25px; /* 文字サイズ */
    text-align: center; /* 文字位置   */
    cursor: pointer; /* カーソル   */
    padding: 12px 50px; /* 余白       */
    background: white; /* 背景色     */
    color: #000000; /* 文字色     */
    line-height: 1em; /* 1行の高さ  */
    transition: .3s; /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666; /* 影の設定 */
    border: 2px solid rgba(102, 102, 255, 0.82);
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-top: 20px;
}

.edit-stage:hover {
    box-shadow: none; /* カーソル時の影消去 */
    color: white; /* 背景色     */
    background: #7d8df7; /* 文字色     */
}