
/* 右の枠（サイドバーを入れる） */
aside#sidebar {
    /*border: solid 1px black;*/
    /*float: left;*/
    width: 28%;
    background-color: #d8ffff;
    padding: 5px;
    font-size: 90%;
}
/* サイドバー */

aside#sidebar h1 {
    color: black;
    margin-top: 10px;
    font-size: 23px;
}
aside#sidebar h2 {
    color: black;
    border-bottom: solid 2px #0000cc;
    margin-top: 10px;
    font-size: 23px;
}
.account{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #c9e3ff;
    border: dashed 2px #5b8bd0;/*点線*/
}
.account p {
    margin: 0;
    padding: 0;
}

aside#sidebar ul {
    padding-left: 1em;
    list-style-type: none;
}

aside#sidebar li {
    margin-bottom: 0.3em;
}
