
/* 右の枠（サイドバーを入れる） */
aside#sidebar {
    /*border: solid 1px black;*/
    /*float: left;*/
    width: 28%;
    background-color: #d8ffff;
    padding: 5px;
    font-size: 90%;
    font-family: "Hiragino Kaku Gothic Pro";
}
/* サイドバー */

aside#sidebar h1 {
    color: black;
    margin-top: 10px;
    font-size: 23px;
}
aside#sidebar h2 {
    padding: 1rem 2rem;
    color: #fff;
    background: #819eff;
    -webkit-box-shadow: 5px 5px 0 #007032;
    box-shadow: 5px 5px 0 #007032;
}
.account{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #c9e3ff;
    border: dashed 2px #5b8bd0;/*点線*/
}
.account p {
    margin: 0;
    padding: 0;
}

aside#sidebar ul {
    padding-left: 1em;
    list-style-type: none;
}

aside#sidebar li {
    margin-bottom: 0.3em;
    font-size: 17px;
}
