/* 表：一覧表示、詳細表示 */
table.attr,table.list  {
    background-color: #f8f0ef;
    font-size: large;
    width: 95%;
    padding-top: 50px;
    margin: 0 auto;
}

table.list th, table.attr th {
    color: #100000;
    background-color: #f8a197;
    font-weight: normal;
}

table.list td, table.list th,
table.attr td, table.attr th {
    padding: 4px;
}

table.list th {
    text-align: left;
}

table.attr th {
    text-align: right;
}

table.list td, table.attr td {

}
